beautifulsoup4==4.12.3
ipython==8.12.3
Jinja2==3.1.2
jsonpickle==3.0.2
networkx==3.1
numpy==1.24.3
Requests==2.32.3
selenium==4.21.0
streamlit==1.35.0
streamlit_option_menu==0.3.13
stvis==0.0.2
validators==0.22.0
webdriver_manager==4.0.1
yake==0.4.8
